body {
    background-color: gray;
}
.post {
    background-color: black;
    width: 100px;
    height: 150px;
    margin: auto;   
}
.light-box {
    background-color: black;
    width: 250px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.red-light {
    height: 30%;
    width: 90%;
    border-radius: 50%;
    background-color: red;
    margin: auto;
}
.yellow-light {
    height: 30%;
    width: 90%;
    border-radius: 50%;
    background-color: yellow;
    margin: auto;
}
.green-light {
        height: 30%;
    width: 90%;
    border-radius: 50%;
    background-color: green;
    margin: auto;
}
.red-light:hover{
    background-image: url(raster_a1_qua_1zoll.jpg);
    box-shadow: 0px 0px 15px 20px red;
}